
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?jdguwo');
  src:  url('../../fonts/icomoon.eot?jdguwo#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?jdguwo') format('truetype'),
    url('../../fonts/icomoon.woff?jdguwo') format('woff'),
    url('../../fonts/icomoon.svg?jdguwo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-briefcase:before {
  content: "\e901";
}
.icon-earn-money:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e903";
}
.icon-folder:before {
  content: "\e904";
}
.icon-loupe:before {
  content: "\e905";
}
.icon-notes:before {
  content: "\e906";
}
.icon-notification:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-question:before {
  content: "\e909";
}
.icon-unity:before {
  content: "\e90a";
}

