

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
	background: #fff;
	width: 100%;
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	font-size: 14px;
	color: #1c1c1c;
}

section {
	padding: 150px 0;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.color-light {
	color: #fff;
}

.color-dark {
	color: #1c1c1c;
}

.color-primary {
	color: #0070c0 !important;
}

.secondry_color {
	color: #ed7d31;
}

.color-link {
	color: #ed7d31;
}

.color-link:hover {
	color: #ed7d31;
	text-decoration: underline;
}

.color-light-gray {
	color: #777;
}

.theme_gary {
	background-color: #f3f6f9;
}

.theme-gray-text {
	color: #616161;
}

.font-300 {
	font-weight: 300;
}

.font-400 {
	font-weight: 400;
}

.font-500 {
	font-weight: 500;
}

.font-600 {
	font-weight: 600;
}

.font-700 {
	font-weight: 700;
}

.font-12 {
	font-size: 12px;
}

.font-13 {
	font-size: 13px;
}

.font-15 {
	font-size: 15px;
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.shadow-0 {
	box-shadow: 0px 0px 0px rgba(00, 00, 0, 0.0) !important;
}

.position-arrow {
	line-height: 0;
	position: relative;
	top: 5px;
}

.border_rounded_5 {
	border-radius: 5px;
}

.ctk_overflow_hidden {
	overflow: hidden;
}

.p_px_15 {
	padding-left: 15px;
	padding-right: 15px;
}

.p_py_20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.p_pb_20 {
	padding-bottom: 20px;
}

.p_py_44 {
	padding-top: 44px;
	padding-bottom: 44px;
}

.m_mb_20 {
	margin-bottom: 20px;
}

.opacity-0{
	opacity: 0;
}

/*////////////////// Top nav bar ///////////*/

.ck_top_nav_info {
	background: #0070c0;
	width: 100%;
	padding: 8px 0;
	display: flex;
	flex-wrap: wrap;
	z-index: 999;
	position: relative;
}

.left_mail_cal_info {
	float: left;
	width: auto;
}

.ck_top_nav_info .left_mail_cal_info a {
	color: #fff;
	font-size: 14px;
}

.ck_top_nav_info .left_mail_cal_info .material-icons {
	line-height: 0;
	position: relative;
	top: 7px;
	margin-right: 5px;
}

.right_socl_info {
	float: right;
}

.right_socl_info ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	padding-right: 100px;
}

.right_socl_info ul li {
	float: left;
	padding: 0 14px;
}

.login_sign_up_sec a span {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}

.sign_up_btn_hm {
	background: #fff;
	display: flex;
	padding: 8px 20px !important;
	position: absolute;
	right: 0;
	top: 0;
}

.navbar_main_conktn {
	background: #fff;
	min-height: 80px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, .07);
}

.navbar_main_conktn ul li {
	position: relative;
	padding: 0 4px;
}

.navbar_main_conktn ul li a {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #1c1c1c;
	border-radius: 4px;
	padding: 7px 15px !important;
	text-transform: none;
	transition: .2s ease-in-out;
}

.navbar_main_conktn ul li.active a {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #fff;
	background: #0070c0;
}

.navbar_main_conktn ul li a:hover {
	color: #fff;
	background: #0070c0;
	transition: .2s ease-in-out;
}

.navbar_main_conktn .navbar-nav {}


/*/////////////////// Header /////////////////////*/

#bg_header_video {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	background-size: cover;
}

#bg_header_video {
	overflow: hidden;
	z-index: 0;
	position: absolute;
	width: 100%
}

.header_video_section #bg_header_video {
	padding: 0;
	min-width: 100%;
	margin: 0;
	height: auto;
	overflow: hidden;
}

.header_video_section {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.main_dash_header {
	background: url(../../images/headerbg_img.png);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 600px;
	position: relative;
}

.overlay_on_header {
	/*background: #004f87;*/
	background: #000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: .7;
	z-index: 1;
}

.header_heading_sec {
	padding-top: 70px;
	padding-bottom: 20px;
}

.search_sec_container {
	background: rgba(255, 255, 255, .1);
	border-radius: 7px;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
}

.search_sec_container .search_sec_dvs {
	width: 25%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
	margin: auto;
	position: relative;
}

.search_sec_input.search_sec_dvs:after {
	content: "";
	background: #fff;
	width: 1px;
	height: 27px;
	opacity: .3;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
}

.search_sec_cat_selct.search_sec_dvs:after {
	content: "";
	background: #fff;
	width: 1px;
	height: 27px;
	opacity: .3;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
}

.search_sec_container .search_sec_dvs .bmd-form-group {
	padding: 0;
	width: 100%;
}

.search_sec_container .search_sec_dvs .input-group {
	margin: 0 !important;
}

.search_sec_container .search_sec_dvs input {
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	border: none !important;
	background-image: none !important;
	padding-left: 12px;
}

.search_sec_container .search_sec_dvs input::placeholder {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.search_sec_input .material-icons {
	color: #fff;
	font-size: 22px;
	position: relative;
	top: 5px;
	right: -5px;
}

.search_sec_cat_selct select {
	width: 100%;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	border: none !important;
	background-image: none !important;
	padding-right: 40px;
	outline: none;
	cursor: pointer;
	background: none;
}

.search_sec_cat_selct select option {
	color: #1c1c1c;
}

.search_sec_cat_selct {
	position: relative;
}

.search_sec_cat_selct .material-icons {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0%, -50%);
	color: #fff;
	font-size: 28px;
}

.search_sec_locate_selct select {
	width: 100%;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	border: none !important;
	background-image: none !important;
	padding-right: 40px;
	outline: none;
	cursor: pointer;
	background: none;
}

.search_sec_locate_selct select option {
	color: #1c1c1c;
}

.search_sec_locate_selct {
	position: relative;
}

.search_sec_locate_selct .material-icons {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0%, -50%);
	color: #fff;
	font-size: 28px;
}

.search_btn_header button {
	margin-bottom: 0;
	color: #fff;
	border-radius: 4px;
	background: #fff !important;
	font-size: 14px;
	padding: 12px 10px;
	width: 85%;
}

.search_btn_header button .material-icons {
	margin-bottom: 0;
	line-height: 0;
	position: relative;
	font-size: 20px;
	top: 4px;
	right: -2px;
}

.upload_res_candte_sec h5:after {
	background: #ed7d31;
	width: 50px;
	;
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 3px;
	content: "";
}

.upload_resume_file_btn_col .file-input__input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload_resume_file_btn_col .file-input__label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	border-radius: 5px;
	font-weight: 500;
	color: #fff;
	font-size: 14px;
	width: 80%;
	padding: 10px 10px;
	border: 1px dashed #fff;
	background-color: rgba(255, 255, 255, .1);
	height: 60px;
	text-align: center;
	justify-content: center;
	/*transition: .1s;*/
}

.upload_resume_file_btn_col .file-input__label:hover {
	background-color: rgba(255, 255, 255, .2);
	/*transition: .1s;*/
}

.upload_resume_file_btn_col .file-input__label .material-icons {
	font-size: 22px;
	color: #fff;
	margin-right: 4px;
}


/*/////// All ctagories cards /////////*/

.all_comunites_on_header {
	/* max-width: ; */
}

.all_comunites_on_header:before {
	background: rgba(255, 255, 255, .2);
	width: 100%;
	position: absolute;
	left: 0;
	top: -5px;
	height: 1px;
	content: "";
}

.all_comunites_on_header .tile_of_comunites h5:after {
	background: #ed7d31;
	width: 50px;
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 3px;
	content: "";
}

.Comunites_Cards .Comunites_Cards_container {
	width: 14.28%;
	display: flex;
	flex-wrap: wrap;
	float: left;
	padding: 0 15px;
}

.Comunites_Cards .Comunites_Cards_container .Comunites_Cards_img_container {
	background: #fff;
	box-shadow: 0 4px 14px rgba(0, 0, 0, .12);
	border-radius: 6px;
	padding: 15px;
	display: flex;
	width: 100%;
	justify-content: center;
	height: 100px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: .2em solid transparent;
	transition: .05s;
}

.Comunites_Cards .Comunites_Cards_container .Comunites_Cards_img_container:hover {
	border: .2em solid #0070c0;
	transition: .05s;
}

.Comunites_Cards .Comunites_Cards_container .Comunites_Cards_img_container img {
	max-width: 40px;
}

.Comunites_Cards .Comunites_Cards_container .Comunites_Cards_img_container .bg_img_comunites_Cards_light {
	max-width: 130px !important;
	position: absolute;
	left: -35px;
	bottom: -45px;
	opacity: .05;
}

.Comunites_sec_title {
	font-size: 14px;
	font-weight: 500;
	margin-top: 20px;
	width: 100%;
	word-break: break-word;
	line-height: 1.5;
}


/*////////////// How it works /////////////*/

.how_it_wrk_Sec {
	padding-top: 200px;
	background: #fbfdfe;
}

.how_it_wrk_Sec .section_title_all:after {
	left: 50%;
	transform: translate(-50%, 0);
}

.read_more_link_txt .material-icons {
	position: relative;
	top: 5px;
}

.how_it_wrk_Sec_container h5:after {
	background: #ed7d31;
	width: 35px;
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 3px;
	content: "";
	left: 50%;
	transform: translate(-50%, 0);
}


/*//////////////////////////////////////*/

.section_title_all {
	display: inline-block;
}

.section_title_all:after {
	background: #ed7d31;
	width: 50px;
	position: absolute;
	left: 0;
	bottom: -7px;
	height: 3px;
	content: "";
}

.earn_quickly_sec {
	background: #fbfdfe;
}

.lowest_fee_sec {
	background: #fbfdfe;
}

.post_article_Sec {
	background: #fbfdfe;
}


/*////////////// Counter sec ///////////////*/

.counter_sec_conatiner .counter_img_sec {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	overflow: hidden;
	padding: 0;
	border-radius: 50%;
	background: #0070c0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
	margin: 20px auto;
}

.counter_sec_conatiner .counter_img_sec img {
	max-height: 40px;
}


/*///////////// Newsletter /////////////*/

.newsletter_Sec_bg_container {
	width: 85%;
	margin: auto;
	background: linear-gradient(90deg, #0070c0, #1690e8);
	padding: 50px 20px;
	border-radius: 12px;
	position: relative;
	z-index: 999;
}

.newsletter_bg_img_container {
	position: absolute;
	top: 0;
	object-fit: cover;
	width: 100%;
	left: 0;
}

.input_group_newsletter {
	background: rgba(255, 255, 255, .27);
	border-radius: 5px;
	padding: 10px;
}

.input_group_newsletter input {
	border: none;
	background-image: none;
	padding: 5px !important;
	color: #fff;
}

.input_group_newsletter input {
	border: none;
	background-image: none !important;
	padding: 15px;
	color: #fff !important;
}

.input_group_newsletter input::placeholder {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.input_group_newsletter button {
	background: #fff !important;
	border-radius: 4px;
	padding: 10px 20px;
	text-transform: none;
	font-weight: 500;
}

.input_group_newsletter button .material-icons {
	font-size: 21px;
	margin-left: 3px;
}


/*////////// Footer ////////////*/

.footer_Sec {
	padding-top: 140px;
	background: #eff5ff;
	position: relative;
	margin-top: -75px;
}

.footer_content_container ul {
	display: inline-block;
	list-style-type: none;
	width: 100%;
}

.footer_content_container ul li {
	padding-bottom: 10px;
}

.footer_bg_img_cvr {
	position: absolute;
	bottom: 0;
	object-fit: cover;
	width: 100%;
	left: 0;
}


/*//////////////// Login sign Up page ///////////////*/

.login_sign_up_sec_pg {
	background: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.main-forms-box .form-group {
	position: relative;
}

.login_container_main01 {
	padding: 65px 20px 50px;
	width: 100%;
	display: inline-block;
	margin: auto;
	border-radius: 7px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, .07);
}

.login_sign_up_sec_card_bg {
	padding: 35px;
}

.login_sign_up_sec_pg .logo_sec {
	padding: 35px 0;
}

.custom_fomr_login_sign_up .form-group input {
	background-image: none;
	background-color: #f7f7f7;
	padding: 15px;
	border-radius: 4px;
	border: 2px solid #eee;
	width: 100%;
}

.custom_fomr_login_sign_up .form-group input:focus {
	border: 2px solid #0070c0 !important;
	background: #fff;
}

.custom_fomr_login_sign_up .form-group label {
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
	font-size: 13px;
	color: #292929;
	white-space: nowrap;
}

.is-focused [class*=" bmd-label"],
.is-focused [class^=bmd-label] {
	color: #0070c0 !important;
	font-weight: 500;
}

.forgot_pass_link_btn {
	text-decoration: underline;
}

.login_pg_btn_lyt {
	background: #0070c0 !important;
	color: #fff !important;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	margin: auto;
}

.btm_cpyrght_sec_login_pg {
	border-top: 1px solid #ddd;
	background: #fff;
}

.shape_00_bg_light_img,
.shape_01_bg_light_img,
.shape_02_bg_light_img,
.shape_03_bg_light_img,
.shape_04_bg_light_img {
	position: absolute;
}

.shape_00_bg_light_img {
	position: absolute;
	left: 0;
}

.shape_01_bg_light_img {
	right: 0;
	top: 70%;
	width: 95px;
}

.shape_02_bg_light_img {
	left: 0;
	top: 30px;
	width: 150px;
}

.shape_03_bg_light_img {
	right: 0;
	top: 20%;
	width: 95px;
}

.shape_04_bg_light_img {
	left: 0;
	bottom: 15%;
	transform: rotate(180deg);
	width: 85px;
}


/*//////////////// Sign Up page ////////////////*/

.shape_00_bg_light_img_on_sign_up {
	position: absolute;
	right: 0;
	transform: rotate(180deg);
}

.otp_modal_main .modal-dialog {
	max-width: 75%;
}


/*.otp_modal_main.modal.fade .modal-dialog{
	transform: translateY(25%) !important;
}*/

.otp_modal_main.modal.fade .modal-dialog {
	-webkit-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	-o-transform: translate(0, 100%);
	transform: translate(0, 100%);
}

.otp_modal_main.modal.fade.show .modal-dialog {
	-webkit-transform: translate(0, 25%);
	-ms-transform: translate(0, 25%);
	-o-transform: translate(0, 25%);
	transform: translate(0, 25%);
}

.otp_modal_main .modal-content .modal-body {
	padding: 60px 35px 35px;
}

.otp_modal_main .modal-content {
	box-shadow: 0 4px 15px rgba(0, 0, 0, .14);
	border-radius: 5px;
}

.otp_modal_main .modal-content .close {
	position: absolute;
	right: 20px;
	opacity: .9;
	z-index: 999;
}

.otp_modal_main .modal-content .close span {
	font-weight: 200;
	opacity: 1;
	font-size: 65px;
	color: #1c1c1c;
}

.otp_form_custom .passcode-wrapper input {
	width: 100% !important;
	text-align: center !important;
	margin-right: 15px;
	outline: none;
}


/*///////////////// Form Wizard ////////////////*/


/*------------------------*/

input:focus,
button:focus,
.form-control:focus {
	outline: none;
	box-shadow: none;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #fff;
}


/*----------step-wizard------------*/

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}


/*---------signup-step-------------*/

.bg-color {
	background-color: #333;
}

.signup-step-container {
	padding: 150px 0px;
	padding-bottom: 60px;
}

.wizard .nav-tabs {
	position: relative;
	margin-bottom: 0;
	border-bottom-color: transparent;
	display: inline-flex;
	align-items: center;
	width: 100%;
	z-index: 9;
}

.wizard>div.wizard-inner {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 100%;
}


/*.connecting-line {
    height: 5px;
    background: #eee;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 42%;
    z-index: 1;
}*/

.login_container_main01 .wizar-back {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	display: flex;
	width: 75%;
	margin: auto;
	align-items: center;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
}

span.round-tab {
	width: 47px;
	height: 47px;
	min-height: 47px !important;
	line-height: 3;
	display: inline-block;
	border-radius: 50%;
	background: #fff !important;
	text-align: center;
	font-size: 16px;
	color: #0e214b;
	font-weight: 500;
	border: 1px solid #f7f7f7;
	color: #1c1c1c !important;
	box-shadow: 0 4px 17px rgba(0, 0, 0, .07);
}

span.round-tab i {
	color: #555555;
}

.wizard li.active span.round-tab,
.wizard li span.round-tab.active {
	background: #0070c0 !important;
	color: #fff !important;
	border-color: #0070c0;
	cursor: none;
}

.wizard li.active span.round-tab i {
	color: #5bc0de;
}

.wizard .nav-tabs>li.active>a i {
	color: #0db02b;
}

.wizard .nav-tabs>li {
	width: 25%;
	text-align: center;
}

.wizard li:after {
	content: " ";
	position: absolute;
	left: 46%;
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: red;
	transition: 0.1s ease-in-out;
}

.wizard .nav-tabs>li a {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	padding: 0;
	background-color: transparent;
	pointer-events: none;
}

.wizard .nav-tabs:after {
	content: '';
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	width: 80%;
	height: 5px;
	margin: auto;
	background-color: #eee;
	z-index: -1;
}

.wizard .nav-tabs>li a i {
	position: absolute;
	top: -15px;
	font-style: normal;
	font-weight: 400;
	white-space: nowrap;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	font-weight: 700;
	color: #000;
}

.wizard .nav-tabs>li a:hover {
	background: transparent;
}

.wizard .tab-pane,
.wizard .tab {
	position: relative;
	padding-top: 20px;
}


/**** error msg css start here ***/

label.error {
	position: absolute;
	bottom: -31px;
	top: auto !important;
	left: 0;
	max-width: 170px;
	font-size: 12px !important;
	padding: 5px !important;
	color: red !important;
	border-radius: 5px;
}

.wizard h3 {
	margin-top: 0;
}

.prev-step,
.next-step {
	font-size: 14px;
	padding: 8px 24px;
	border: none;
	border-radius: 4px;
	margin-top: 30px;
	min-height: 45px;
	cursor: pointer;
}

.next-step {
	background-color: #0db02b;
}

.skip-btn {
	background-color: #cec12d;
}

.step-head {
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 20px;
}

.term-check {
	font-size: 14px;
	font-weight: 400;
}

.custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-bottom: 0;
}

.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 40px;
	margin: 0;
	opacity: 0;
}

.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: 40px;
	padding: .375rem .75rem;
	font-weight: 400;
	line-height: 2;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: 38px;
	padding: .375rem .75rem;
	line-height: 2;
	color: #495057;
	content: "Browse";
	background-color: #e9ecef;
	border-left: inherit;
	border-radius: 0 .25rem .25rem 0;
}

.footer-link {
	margin-top: 30px;
}

.all-info-container {}

.list-content {
	margin-bottom: 10px;
}

.list-content a {
	padding: 10px 15px;
	width: 100%;
	display: inline-block;
	background-color: #f5f5f5;
	position: relative;
	color: #565656;
	font-weight: 400;
	border-radius: 4px;
}

.list-content a[aria-expanded="true"] i {
	transform: rotate(180deg);
}

.list-content a i {
	text-align: right;
	position: absolute;
	top: 15px;
	right: 10px;
	transition: 0.5s;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #fdfdfd;
}

.list-box {
	padding: 10px;
}

.signup-logo-header .logo_area {
	width: 200px;
}

.signup-logo-header .nav>li {
	padding: 0;
}

.signup-logo-header .header-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-inline li {
	display: inline-block;
}

.pull-right {
	float: right;
}


/*-----------custom-checkbox-----------*/


/*----------Custom-Checkbox---------*/

input[type="checkbox"] {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
	position: absolute;
	content: "";
	display: inline-block;
}

input[type="checkbox"]::before {
	height: 16px;
	width: 16px;
	border: 1px solid #999;
	left: 0px;
	top: 0px;
	background-color: #fff;
	border-radius: 2px;
}

input[type="checkbox"]::after {
	height: 5px;
	width: 9px;
	left: 4px;
	top: 4px;
}

input[type="checkbox"]:checked::after {
	content: "";
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: rotate(-45deg);
}

input[type="checkbox"]:checked::before {
	background-color: #18ba60;
	border-color: #18ba60;
}

@media (max-width: 767px) {
	.sign-content h3 {
		font-size: 40px;
	}
	.wizard .nav-tabs>li a i {
		display: none;
	}
	.signup-logo-header .navbar-toggle {
		margin: 0;
		margin-top: 8px;
	}
	.signup-logo-header .logo_area {
		margin-top: 0;
	}
	.signup-logo-header .header-flex {
		display: block;
	}
}


/*//////////// Custom radio ///////////*/

.select_role_radio_btn {
	width: 80% !important;
	margin: 0 auto !important;
	justify-content: center;
	display: flex;
}

.select_role_radio_btn input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.the_custom_radio_btn_chse_role.btn,
.custom-file-control:before {
	white-space: unset !important;
}

.the_custom_radio_btn_chse_role {
	background: white !important;
	box-shadow: 0 7px 20px rgba(0, 0, 0, .05) !important;
	border-radius: 7px !important;
	min-height: 175px !important;
	width: 100% !important;
	transition: all .2s ease-in-out !important;
	border: 2px solid transparent !important;
}

.the_custom_radio_btn_chse_role .check_radio_icon {
	color: #0070c0;
	position: absolute;
	right: 12px;
	top: 12px;
	/*font-size: 22px;*/
	transition: .2s ease-in-out !important;
	display: none;
}

.the_custom_radio_btn_chse_role.active .check_radio_icon {
	display: block !important;
	transition: .2s ease-in-out !important;
}

.the_custom_radio_btn_chse_role.active {
	background: rgba(0, 112, 192, .04) !important;
	border: 2px solid #0070c0 !important;
	box-shadow: 0 4px 14px rgba(0, 0, 0, .07) !important;
	transition: all .2s ease-in-out !important;
}

.the_custom_radio_btn_chse_role.active h6 {
	color: #0070c0 !important;
	transition: .2s;
}

.the_custom_radio_btn_chse_role h6 {
	font-size: 15px;
	color: #1c1c1c;
	text-transform: none;
	margin-bottom: 15px;
	font-weight: 500;
}

.the_img_on_rdio_btn {
	background: #fff;
	box-shadow: 0 5px 34px rgba(0, 0, 0, .07);
	border-radius: 50%;
	display: flex;
	-webkit-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
	overflow: visible;
	height: 90px;
	width: 90px;
	padding: 15px;
	transition: all .2s ease-in-out;
}

.the_custom_radio_btn_chse_role.active .the_img_on_rdio_btn {
	padding: 20px;
	transition: all .2s ease-in-out;
}

.the_img_on_rdio_btn img {
	max-width: 100%;
	max-height: 100%;
	flex-shrink: 0;
	padding: 5px;
}

.proceed_next_btn_wizrd {
	background: #0070c0 !important;
	color: #fff !important;
	height: 45px;
	border-radius: 5px;
	width: 210px;
}

.step_cotainer_sec_width {
	width: 75%;
	margin: auto;
}

.otp_verify_sec_row input {
	text-align: center;
}


/**** ragister page css start here ******/

.main-forms-box .left_fixed_img {
	position: sticky;
	top: 0;
	height: 100vh;
	overflow: hidden;
}

.main-forms-box .left_fixed_img .left-side-img {
	/*background-color: #0070c0;*/
	/*border-radius: 0px 50px 50px 0px;*/
	overflow: hidden;
}

.main-forms-box .left_fixed_img .inner-logo {
	top: 0px;
	left: 0;
}

.main-forms-box .left_fixed_img img {
	object-fit: cover;
	width: 100%;
}

.ragister-form {
	display: inline-block;
	width: 100%;
	padding: 40px 60px 60px;
}

.ragister-form .logo_sec {
	padding: 10px 0px 60px;
}

.ragister-form .reg_top_logo a img {
	width: 200px;
}

.left-side-img,
.left-side-img img {
	height: 100%;
}

.custom_fomr_login_sign_up {}

.ft-z-28 {
	font-size: 28px;
}

.h-140 {
	height: 140px !important;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
	background-image: linear-gradient(0deg, #0070c0 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0)
}

input.form-control,
select.form-control,
textarea.form-control {
	background-image: none !important;
	background-color: #f7f7f7;
	padding:5px 10px;
	border-radius: 4px;
	border: 2px solid #eee;
	width: 100%;
}
input.form-control{
	padding: 15px;
}

textarea.form-control:focus,
input.form-control:focus {
	border-color: #0070c0 !important;
}

.custom-select {
	background-color: #f7f7f7;
	border-radius: 4px;
	border: 2px solid #eee;
}

.custom-select:focus,
.custom-select:hover {
	border-color: #0070c0;
	box-shadow: 0px 0px 0px;
}

.custom-file .custom-file-label {
	background-color: #f7f7f7;
	border: 2px solid #eee;
}

.custom-file .custom-file-label:after {
	background-color: transparent;
	;
}

.ragister-form .upload_resume_file_btn_col .file-input__label {
	background-color: rgba(0, 112, 192, 0.1);
	border-color: #0070c0;
	display: inline-flex;
	flex-direction: column;
	width: 150px;
	height: 150px;
	;
}

.ragister-form .upload_resume_file_btn_col .file-input__label .material-icons {
	margin-bottom: 15px;
}

.ragister-form .upload_resume_file_btn_col .file-input__label .material-icons {
	color: #0070c0
}

.ragister-form .upload_resume_file_btn_col .file-input__label {
	color: #0070c0;
}

.collapse-btn .collapse .card {
	box-shadow: 0px 0px 0px rgba(00, 00, 00, 0.0);
	border: 2px solid #eee;
	margin-top: 15px;
	;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
	background-color: #f7f7f7 !important; 
	border: 2px solid #eee;
	height: 55px !important; 
} 

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #fff !important;
	border-radius: 5px;
	margin-top: 13px !important;
	border: 1px solid #eee;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	background-color: transparent;
	height: 55px;
	line-height: 50px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 13px
}

.select2-container .select2-search--inline .select2-search__field {
	min-width:350px;
	padding: 20px 15px !important;
	margin-top: 0px !important;
} 

.select2-container .select2-search--inline .select2-search__field:hover,
.select2-container .select2-search--inline .select2-search__field:focus {
	background-color: transparent;
	border: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding: 0px 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--single {
	border: 2px solid #0070c0 !important;
}

.select2-container .select2-search__field{
	width: 100% !important;
}
/*** collapse css start here ****/

.custom-collapse .collapse.show,
.custom-collapse .collapse {
	margin-top: 15px;
	position: relative; 
	max-height: 0;
	overflow: hidden;
	display: block;
	transition: ease 0.4s;
	z-index: 99;
}

.collapse-show .collapse {
	max-height: 250px;
	overflow: visible;
}

.custom-collapse .collapse .card {
	border: 1px solid #eee;
	background-color: #f7f7f7;
	position: relative;
	box-shadow: 0px 0px 0px;
}

.custom-collapse .collapse .card:after {
	content: '';
	position: absolute;
	top: -8px;
	left: 15px;
	width: 15px;
	height: 15px;
	transform: rotate(135deg);
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}

.custom-collapse .collapse .card .form-control {
	background-color: #fff;
}

.Certificate-field input {
	opacity: 0;
}

.Certificate-field .Certificate-text {
	position: absolute;
	top: 0;
	left: 0;
	height: 55px;
	border-radius: 4px;
	background-color: rgba(0, 112, 192, 0.1);
	border: 1px dashed #0070c0;
}

.Certificate-field .Certificate-text .text {
	font-size: 14px;
	color: #0070c0;
}

.Certificate-field .Certificate-text .material-icons {
	color: #0070c0;
}

.ragister-form .dropdown-toggle {
	background-image: none;
	background-color: #f7f7f7;
	padding: 15px;
	border-radius: 4px;
	border: 2px solid #eee;
	width: 100%;
	font-size: 1rem;
	text-transform: none;
}

.ragister-form .dropdown-toggle:after {
	position: absolute;
	top: 50%;
	right: 15px;
	left: auto;
}

.ragister-form .dropdown-toggle:focus {
	background-color: #fff;
	border-color: #0070c0;
}

.location-icon {
	position: absolute;
	top: 27%;
	right: 15px;
	color: #c7c7c7;
}

.btn.btn-gray-outline {
	background: #f7f7f7;
	color: #000;
	width: 100%;
	height: 55px;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: ease 0.5s;
	line-height: 40px;
	box-shadow: 0 7px 20px rgba(0, 0, 0, .05) !important;
}

.btn.btn-gray-outline:focus:hover,
.collapse-show .btn.btn-gray-outline {
	background-color: #fff;
	color: #0070c0;
	border-color: #0070c0;
	font-weight: 600;
}


/** ragister page css end here **/


/** inner page css start here **/


/* inner head css start here */

.navbar.ckt_inner_header {
	box-shadow: 0px 0px 0px;
}

.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link {
	padding: 0 15px;
	font-size: 14px;
	font-family: 'Montserrat';
	color: #616161!important;
	font-weight: 500;
	text-transform: none;
	display: inline-flex;
	align-items: center;
	transition: ease 045s;
	position: relative;
}

.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link.post_btn,
.post_btn {
	background-color: #ed7d32;
	color: #fff !important;
	padding: 7px 15px;
	border-radius: 5px;
}

.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link.post_btn:hover,
.post_btn:hover {
	background-color: transparent;
	;
	color: #ed7d32 !important;
}

.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link .icons {
	font-size: 21px;
	margin-right: 10px;
}

.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link:hover,
.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link:focus {
	color: #0070c0 !important;
}

.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link.h_link .ripple-container {
	display: none !important;
}

.noti_circle {
	position: absolute;
	top: 0px;
	right: 12px;
	width: 12px;
	height: 12px;
	background-color: #Fc2400;
	color: #fff !important;
	font-size: 10px;
}

.navbar.ckt_inner_header .navbar-nav .nav-item .nav-link .user_image {
	width: 33px;
	height: 33px;
	background-color: #f1f1f1;
	margin-right: 10px;
}

.navbar.ckt_inner_header .navbar-nav .dropdown .nav-link::after {}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
	z-index: 99;
}


/* plan page css start here */

.price-box {
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.10);
	padding: 20px;
	background: #fff;
	border-radius: 4px;
}

.price-box .info {
	height: 200px;
	overflow: hidden;
}

.price-box p.short-des {
	padding: 7px 0;
	font-size: 14px;
	color: #808080;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	/* number of lines to show */
	-webkit-box-orient: vertical;
}

.price-label {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.34;
	margin-bottom: 0;
	padding: 6px 15px;
	display: inline-block;
	border-radius: 3px;
}

.price-label.basic {
	background: #E8EAF6;
	color: #3F51B5;
}

.price-label.value {
	background: #E8F5E9;
	color: #4CAF50;
}

.price-label.premium {
	background: #FBE9E7;
	color: #FF5722;
}

.price {
	font-size: 44px;
	line-height: 44px;
	margin: 15px 0 6px;
	font-weight: 900;
}

.price-info {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.67;
	color: inherit;
	width: 100%;
	margin: 0;
	color: #989898;
}

.plan-btn {
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	padding: 11px 30px;
	border: 2px solid #0070c0;
	color: #0070c0;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: 0;
	border-radius: 5px;
	text-decoration: none;
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.plan-btn::after {
	position: absolute;
	left: -100%;
	top: 0;
	content: "";
	height: 100%;
	width: 100%;
	background: #0070c0;
	z-index: -1;
	transition: all 0.35s ease-in-out;
}

.plan-btn:hover::after {
	left: 0;
}

.plan-btn:hover,
.plan-btn:focus {
	text-decoration: none;
	color: #fff;
	border: 2px solid #0070c0;
}


/* plan page css end here */


/* main body section start here */

.main_body {
	min-height: 100vh;
}

.filter-items {
	padding:15px 0px;
	border-bottom: 1px solid #bcbcbc;
}


/** custom check box css start here **/

.checkbox label .checkbox-decorator,
label.checkbox-inline .checkbox-decorator {
	margin: 0;
	padding: 0;
	top: 2px;
}

.checkbox label .checkbox-decorator .check,
label.checkbox-inline .checkbox-decorator .check {
	width: 15px;
	height: 15px;
	background-color: #fff;
	border: 1px solid #e1e1e1;
}

.bmd-form-group .checkbox label {
	color: #000;
	font-size: 14px;
	padding-bottom: 15px;
	margin-bottom: 0;
	;
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check,
label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check {
	background-color: #fff;
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check:before,
label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check:before {
	color: #0070c0;
}

.title_search .search_field .bmd-form-group {
	padding-top: 0px;
}

.title_search .search_field {
	transition: ease 0.4s;
	width: 100%;
}
.title_search .search_field .bmd-form-group{
	width: 100%;
	transition: ease 0.5s;
	transform: translate(100%);
	padding-right: 25px;
}
.title_search .search_field .bmd-form-group .form-control{
	background-color: transparent;
	border:0px;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px;
	border-radius: 0px;
}
.title_search .search_field:hover .bmd-form-group,
.title_search .search_field:focus .bmd-form-group{
	transform: translate(0%);
}

.title_search .search_field .searc_icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 100%;
	color: #000;
}

.title_search .search_field .searc_icon:hover {
	color: #0070c0;
	text-decoration: none;
}


/** main top search bar css start here **/

.main_top_search .form-control {
	background-color: #fff;
	padding: 20px 60px 20px 15px;
	border: 0px;
	background-image: none;
	border-radius: 5px !important;
}

.main_top_search .form-control::-moz-placeholder,
.main_top_search .form-control:-moz-placeholder {
	padding-top: 20px;
}

.main_top_search .form-control::placeholder {
	padding-top: 20px;
}

.main_top_search .custom-select {
	background-color: #fff;
	height: 55px;
	padding: 0px 60px 0px 15px;
	border: 0px;
	border-radius: 5px !important;
}

.main_top_search .sercah_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 55px;
	height: 100%;
	background-color: transparent;
	font-size: 25px;
	color: #939393;
	padding: 0px 15px 0px 15px;
	margin: 0px;
	border-radius: 0px 5px 5px 0px;
	z-index: 9;
}

.main_top_search .sercah_btn:hover,
.main_top_search .sercah_btn:focus {
	background-color: #0070c0;
	color: #fff;
	text-decoration: none;
}

.main_top_search .is-focused .sercah_btn {
	color: #0070c0;
}

.main_top_search .btn.btn-primary {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #fff;
	background: #0070c0;
	min-height: 55px;
	text-transform: none;
	border-radius: 5px;
}

.btn.btn-primary span {
	font-size: 22px;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background-color: #fff;
	color: #0070c0;
}

.no_projects {
	display: inline-block;
	padding: 5px;
	background-color: #0070c0;
	color: #fff;
	font-size: 9px;
	border-radius: 5px;
	;
}

.main_top_tiitle {
	min-height: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.main_top_tiitle .filte_input span {
	color: #4a4a4a;
}

.main_top_tiitle .filte_input {
	width: 243px;
}

.main_top_tiitle .filte_input .custom-select {
	width: 161px;
	background-color: #fff;
	background-image: url('../images/down-arrow.png') !important;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: 95% 13px;
}

.main_top_tiitle .bmd-form-group {
	padding-top: 0px;
}

.description_text {
	line-height: 18px;
}

.skill-cateogries-listes .skills_items {
	padding: 5px;
	background-color: #f8f8f8;
	margin-right: 10px;
	margin-bottom: 8px;
	transition: ease 0.3s;
}

.skill-cateogries-listes .skills_items:hover {
	background-color: #e4e4e4;
}

.projec_items_card .product_price {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.number_bids {
	position: absolute;
	top:10px;
	right:100px;
	padding: 5px 10px;
	font-size: 10px;
	color: #0070c0;
	font-weight: 500;
	background-color: rgba(0, 112, 192, 0.06);
	border-radius: 5px;
}

.right_side_date_bids {
	width: 165px;
	text-align: right;
}

.btn.btn-bid {
	padding: 5px 10px;
	border: 1px solid #0070c0;
	background-color: #0070c0;
	color: #fff;
	font-size: 12px;
	text-transform: none;
	border-radius: 5px;
}

.btn.btn-bid:hover {
	background-color: #fff;
	color: #0070c0;
}

.bg-theme {
	background-color: #0070c0;
}

.project-level-tag {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	font-size: 12px;
	color: #fff;
	z-index: 9;
}

.project-level-tag:after {
	content: '';
	position: absolute;
	top: 2px;
	left: -12%;
	width: 14%;
	height: 100%;
	background-color: #f3f6f9;
	z-index: -1;
	transform: skewY(-19deg);
	clip-path: polygon(96% 0, 100% 0%, 100% 100%, 0% 100%);
}

.project-level-tag.bg-warning:after {
	background-color: #bb4c00;
}

.project-level-tag.bg-success:after {
	background-color: #286a00;
}

.project-level-tag.bg-theme:after {
	background-color: #004271;
}


/* end project page css end here */


/* start question page css start here */

.add_question_box,
.add_question_box {
	display: none;
}

.question_name {
	color: #000;
}

.Question_posted_by li {
	list-style-type: none;
	display: inline-flex;
	align-items: center;
}

.Question_posted_by li a {
	display: inline-flex;
	font-size: 12px;
	color: #0070c0;
	padding: 0px 7px;
	position: relative;
	transition: ease 0.4s;
	align-items: center;
	font-weight: 500;
}

.Question_posted_by li a::after {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	width: 1px;
	height: 60%;
	background-color: #0070c0;
}

.Question_posted_by li a:focus {
	text-decoration: none;
	font-weight: 600;
}

.Question_posted_by li .date_time {
	display: inline-flex;
	font-size: 12px;
	color: #636466;
	padding: 0px 7px;
	position: relative;
	transition: ease 0.4s;
}

a.posted_name .image {
	width: 24px;
	height: 24px;
}

.Question_posted_by li a.posted_details .material-icons {
	font-size: 15px;
}

.after_none:after {
	display: none !important;
}

.question_box .answer_box {
	background-color: #f3f6f9;
}

.answer_box h6 {
	color: #616161;
}

.answer_box p.qu_answer {
	color: #616161;
	line-height: 18px;
}

.answer_box .Question_posted_by li a {
	color: #616161;
	font-weight: 600;
}

.answer_box .Question_posted_by li .date_time {
	font-size: 12px;
	font-weight: 400;
}

.answer_box .Question_posted_by li a:after {
	background-color: #616161;
}
.posted-bar{
	cursor: pointer;
	padding: 10px 15px;
}
.posted-user-profile .user-image{
	display: inline-block;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50px;
	background-color: #f1f1f1;
	margin-right: 10px;
}

.posted-bar h5{
	font-size: 14px;
	font-weight: 400;
	background-color: #f3f6f9;
	color:#535353;
	padding: 15px;
	border-radius: 5px;
}
/* tabs css start here */

.side_bar .nav-pills .nav-link{
	display: flex;
	padding:12px 15px;
	font-size: 14px;
	color:#0070c0;
	text-transform: none;
	margin-bottom: 10px;
	align-items: center;
	transition: ease 0.5s;
	border-radius: 5px;
}
.side_bar .nav-pills .nav-link span{
	font-size: 18px;
}
.side_bar .nav-pills .nav-link.active{
	background-color: #0070c0;
	color:#fff;
	box-shadow: 0px 5px 16px rgba(0,112,192,0.1);
}

/* tabs css end here */
.question_box .date{
	position: absolute;
	top:10px;
	right:15px;
}
.number-of-ans-bage{
	display: inline-block;
	padding: 2px 15px;
	border-radius: 50px;
	background-color: #f3f6f9;
	color:#000;
	font-weight: 500;
	font-size:12px;
}
.like-dislike-btns a.like-btn{
 font-size: 12px;
 color:#828282;
 display: inline-flex;
 align-items: center;
}
.like-dislike-btns a.like-btn span{
	font-size:16px;
	transition: ease 0.5s;
	margin-right: 2px;
	font-weight: 500;
}
.like-dislike-btns a.like-btn:hover span,
.like-dislike-btns a.like-btn:focus span{
	color:#0070c0;
}
.answer_box a.posted_name .image{
	width:35px;
	height: 35px;
}
.answer_box .Question_posted_by li a:after{
	display: none;
}
.see-more-ans{
	font-size: 14px;
	font-weight: 600;
	color:#0070c0;
}
.question_box .main-anser-container{
	display: inline-block;
	width: 100%;
	height: 255px;
	transition: ease 0.5s;
	overflow: hidden;
}
.question_box .main-anser-container.show-all{
	height:650px;
}


/* end question page css here */


/* start community page css start here */

.inner_artical_splits_cards .artical_image {
	height: 270px;
	margin-bottom: 15px;
	overflow: hidden;
}

.inner_artical_splits_cards .artical_body {
	width: 84%;
}

.kp_profile_name .profile_pic {
	width: 25px;
	height: 25px;
}

.community_members_list #accordion .card {
	box-shadow: 0px 0px 0px;
	margin-bottom: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
}

.community_members_list #accordion .card .card-header {
	border: 0px;
	padding: 10px 15px;
}
.community_members_list #accordion .card .card-header.active{
	background-color:#0070c0;
}
.community_members_list #accordion .card .card-header.active .btn-link{
	color:#fff;
}

.community_members .community_members_list {
	height: 100%;
}
.community_members_list #accordion .card .card-header .btn-link {
	text-decoration: none;
	text-transform: none;
	display: block;
	width: 100%;
	text-align: left;
}

.member_profile {
	background-color: #fff;
	margin-bottom: 1px;
	border-bottom: 1px solid #e1e1e1;
}

.member_profile .member_pic {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

.member_profile .member_name {
	width: calc(100% - 28px);
	padding-left: 10px;
	line-height: normal;
}

.member_profile .member_name a {
	color: #a0a0a0;
	display: block;
}

.member_profile .member_name .member-type {
	font-size: 10px;
	color: #38abc8;
}
.inner_artical_splits_cards{
	padding: 15px;
	border-radius: 5px;
}
.inner_artical_splits_cards .job_posted_by h5{
	font-size: 16px;
	font-weight: 700;
}
.inner_artical_splits_cards .job_posted_by p{
	color:#434343;
	font-weight: 500;
}
.like-comment-bar a{
	display: inline-flex;
	align-items: center;
	font-size:14px;
	color:#828282;
}
.like-comment-bar a span{
	margin-right: 5px;
	font-size: 18px;
}
.like-comment-bar a.cmm-report{
	font-size: 16px;
	color:#000;
	padding: 0px 15px;
}
.tooltip .arrow:before{
	border-color: #fff !important;
	display: none;
}
.tooltip .tooltip-inner{
	background-color: #fff !important;
	box-shadow: 0px 0px 14px rgba(00,00,00,0.1) !important;
	color:#000;
}
.comment-box{
	display: none;
}
.type-comment .comm-user-img,
.other-comments .comm-user-img{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width:45px;
	height:45px;
	border-radius: 50px;
	background-color: #f3f6f9;
	margin-right: 15px;
}
.type-comment .comm-user-img img,
.other-comments .comm-user-img img{
	object-fit: cover;
}
.type-comment .add-your-comment,
.other-comments .add-your-comment{
	display: inline-block;
	align-items: center;
	width: calc(100% - 150px);
	position: relative;
	margin-right: 15px;
}
.type-comment .add-your-comment .bmd-form-group{
	padding-top: 0px;
	width: 100%;
}
.type-comment .add-your-comment input.form-control{
	width: calc(100% - 50px);
	border-radius: 50px;
	padding:15px 20px;
	background-color:#f3f6f9;
	border:0px;
	background-image:none;
}
.type-comment .add-your-comment .emoji{
	position: absolute;
	top:10px;
	right:0px;
}
.btn-send{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width:56px;
	height: 56px;
	border-radius: 50px;
	background-color: #0070c0;
	color:#fff;
	transition: ease 0.5s;
}
.btn-send:hover{
	background-color: rgb(0, 112, 192, 0.1);
}
.btn-send:hover span{
	color:#0070c0;
}
.btn-send span{
	font-size: 30px;
	transform: rotate(-51deg);
}
.other-comments .add-your-comment{
	font-size: 14px;
	background-color: #f3f6f9;
	padding: 10px 20px;
	border-radius: 20px;
}
.cmm-posted-name{
	font-size: 12px;
	font-weight: 600;
}
.date{
	position: absolute;
	top:10px;
	right:20px;
	font-size: 12px;
}

/* community page css end here */

/* all modal css start here */
	.modal-dialog.modal-lg{
		width:500px;
	}
	.modal-dialog .modal-content{
		border-radius: 5px;
		overflow: hidden;
	}
	.modal-content .modal-header{
		padding: 15px 20px;
		background-color: #0070c0;
	}
	.modal-content .modal-header h5{
		color:#fff;
		font-size: 16px;
		font-weight: 500;
	}
	.modal-content .modal-header .close{
		position: relative;
		top:10px;
		right:15px;
		opacity: 1;
		color: #fff;
		border-radius: 50px;
		width: 22px;
		height: 22px;
		background-color: #fff;
		color: #0070c0;
		padding: 0px;
		font-size: 14px;
	}
	.form-group label.bmd-label-static{
		top:0;
		color:#292929;
		font-size: 14px;
	}
	.select2-container{
		width: 100% !important;
	}

/* all modal css end here */

/* job post page css start here */
.job_top_search .form-control{
	background-color: #fff;
	background:none;
	padding: 18px 15px;
	border-radius: 0px;
	border:0px;
}
.job_top_search .btn.btn-primary{
	min-height: 55px;
	border-radius: 0px;
}
.btn.btn-primary{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #fff;
	background: #0070c0;
	padding: 10px 15px;
    background-color: rgb(0, 112, 192);
	text-transform: none;
	margin-bottom: 0px;
	border-radius: 5px;
	min-width: 100px;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus{
	background-color: rgb(0, 112, 192, 0.1);
}
.job_company_location li {
	list-style: none;
	padding: 0px 5px;
	font-size: 12px;
	color: #636466;
	position: relative;
}

.job_company_location li:after {
	content: '|';
	position: relative;
	right: -5px;
	color: #636466;
}

.job_posted_by span {
	font-size: 12px;
	color: #616161;
	font-weight: 500;
}

.posted_user_profile img {
	width: 24px;
	height: 24px;
}

.job_detail_card {
	height: 0px;
	transition: ease 0.5s;
	overflow: hidden;
}

.job_detail_card.jd_body_show {
	height: 250px;
}

.experienc_required li {
	list-style-type: none;
	font-size: 12px;
	padding-left: 10px;
	position: relative;
	color: #616161;
	font-weight: 500;
}

.experienc_required li:after {
	content: '-';
	position: absolute;
	top: 0;
	left: 0;
}
.main-job-cards {
	margin: 0 -15px;
}
.main-job-cards .job_card{
	width:calc(50% - 30px);
	margin: 0 15px 20px;
	cursor: pointer;
	transition: ease 0.5s;
}
.main-job-cards .job_card:hover{
	box-shadow:0px 7px 20px rgba(0,112,192,0.1);
}
.cards-container.half .main-job-cards .job_card{
	width: 100%;
}
.job-title .company-logo{
	display: inline-block;
	width: 61px;
	height: 47px;
	border-radius:5px;
	background-color: #f3f6f9;
	margin-bottom: 5px;
}
.job_card .job-title .company-name{
	color:#404040;
}
.job_card .short-description p{
	font-size: 12px;
	color:#404040;
	line-height: 16px;
	display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;  
   overflow: hidden;
}
.status-flag{
	position: absolute;
	top:13px;
	right:15px;
	display: inline-block;
	padding: 2px 9px;
	font-size: 12px;
	background-color:#bce3ff ;
	color:#0070c0;
	border-radius: 5px;
	line-height: normal;
}
.job_posted_by{
	padding-left: 50px;
}
.job_posted_by .posted_user_profile{
	position: absolute;
	top:0;
	left: 0;
	width:39px;
	height: 39px;
	overflow: hidden;
}
.job_posted_by .posted_user_profile img{
	width:100%;
	height: 100%;
}
 .job_posted_by h5{
	font-size: 14px;
	margin:0px;
}
.job_posted_by p{
	font-size: 12px;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:95%;
	overflow: hidden;
	margin-bottom: 0px;
}
.job_card .days{
	position: absolute;
	bottom: 10px;
	right: 15px;
}
.job-description-card{
	position: sticky;
	top:20px;
	display: none;
}
.job-description-card .job-title .company-logo{
	position: absolute;
	top:0;
	left: 0;
	width:73px;
	height:69px;
}
.job-description-card .job-title{
	position: relative;
	min-height: 70px;
	padding: 0px 0px 0px 85px;
	line-height: normal;
}
.job-description-card .job-title .posted-date{
	font-weight: 400;
	color:#656565;
	margin-top: 1px;
}
.apply-save-btns .btn{
	min-width: 102px;
	min-height: 40px;
	margin: 0px;
}
.apply-save-btns .btn.btn-white{
	font-size: 14px;
	background-color: #fff;
	border:1px solid #0070c0;
	color:#0070c0;
	border-radius: 5px;
	transition: ease 0.5s;
}
.apply-save-btns .btn.btn-white:hover,
.apply-save-btns .btn.btn-white:focus{
	background-color:rgb(0, 112, 192, 0.2);
}
.job-details .text-points li{
	list-style-type: none;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 300; 
	position: relative;
	margin-bottom: 5px;
}
.job-details .text-points li:after{
	content: '';
	position: absolute;
	top:8px;
	left: 0;
	width: 6px;
	height: 6px;
	border-radius: 50px;
	background-color: #000;
}
.job-description-card .job-close-btn{
	position: absolute;
	top:10px;
	right:10px;
	width:20px;
	height: 20px;
	background-color: #0070c0;
	color: #fff;
	font-size: 16px;
	border-radius: 50px;
	text-align: center;
	line-height: 16px;
}
/* job post page css end here */


/* dashboard  page css start here */

.user_dashboard {
	min-height: 100vh;
}

.user_dashboard .dashboard_side_bar {
	position: fixed;
	top: 60px;
	left: 0;
	width: 250px;
	height: calc(100% - 60px);
	background-color: #fff;
	padding: 20px 15px;
}

.user_dashboard .main-body {
	width: calc(100% - 250px);
	padding: 44px 15px;
	margin-left: auto;
}

.my-wallet {
	padding: 15px 10px;
	position: relative;
	background: #0085e4;
	background: -moz-linear-gradient(45deg, #0085e4 0%, #52b8ff 100%);
	background: -webkit-linear-gradient(45deg, #0085e4 0%, #52b8ff 100%);
	background: linear-gradient(45deg, #0085e4 0%, #52b8ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085e4', endColorstr='#52b8ff', GradientType=1);
	color: #fff;
	z-index: 9;
}

.my-wallet:after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	width: 73px;
	height: 77px;
	background-image: url('../../images/top-wallet-bg.png');
	background-size: 100% 100%;
	z-index: -1;
}

.my-wallet:before {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 73px;
	height: 77px;
	background-image: url('../../images/bottom-wallet-bg.png');
	background-size: 100% 100%;
	z-index: -1;
}

.w_title .wallet-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #fff;
	margin-right: 10px;
	border-radius: 50%;
}

.side-bar-links li {
	list-style-type: none;
}

.side-bar-links li a {
	display: flex;
	padding: 10px;
	color: #000;
	transition: ease 0.4s;
	border-radius: 5px;
	margin-bottom: 5px;
	font-weight: 500;
}

.side-bar-links li a:hover {
	background-color: #f1f1f1;
}

.dash-card {
	box-shadow: 0px 8px 20px rgba(00, 00, 00, 0.05);
	padding: 15px;
	/*background-color: #0085e4;*/
	background-color: #fff;
	color: #fff;
	/*height: 125px;*/
	margin-bottom: 20px;
	cursor: pointer;
	flex-wrap: wrap;
}

.dash-card .text-box {
	width: calc(100% - 85px);
}

.dash-card .icon-box {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: #005897;
	font-size: 28px;
	color: #fff;
}

.icon-box.bg-secondry {
	background-color: #ed7d32;
}

.icon-box.bg-sky {
	background-color: #07b9ff;
}

.icon-box.bg-yellow {
	background-color: #fdaa0c;
}

.dash-card .icon-box img {
	width: 28px;
	height: 28px;
}

.dash-card .dash_detail_box {
	/*position: absolute;
	bottom: -50px;
	left:15px;*/
	margin-top: 10px;
	min-width: 100%;
	background-color: #fff;
	border-radius: 5px;
	min-height: 85px;
}

.dash_detail_box p {
	padding-bottom: 5px;
	border-bottom: 1px solid #e1e1e1;
	font-weight: 600;
}

.dash_detail_box .runing {
	color: #005897;
}

.dash_card_noti-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	width: 40px;
	height: 20px;
	border-radius: 50px;
	color: #fff;
	font-size: 8px;
	font-weight: 600
}

.dash_detail_box .runing .dash_card_noti-icon {
	background-color: #005897
}

.dash_detail_box .Compeleted {
	color: #1bb510;
}

.dash_detail_box .Compeleted .dash_card_noti-icon {
	background-color: #1bb510;
}

.dash_detail_box .other {
	color: #ff7800;
}

.dash_detail_box .other .dash_card_noti-icon {
	background-color: #ff7800;
}


/* dashboard  page css end here */

@media (min-width:768px) {
	.w-md-70 {
		width: 70%;
	}
}

/***** article_form alerts css ****/
#article_form label.error{
	position: static;
}